.list-view-container, .map-view-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 6%;
}

.info-view-toggle {
    margin-top: 4%;
    justify-content: center;
}