.ticket-info-container {
    background-color: #f4ecd7;
    padding: 2%;
    border-color: #928672;
    border-radius: 30px;
}

.ticket-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5%;
}

.add-to-basket-drawer {
    background-color: #f4ecd7;
    width: 70%;
    margin: 0 auto;
    padding: 1%;
    border-color: #928672;
    border-radius: 20px;
}

.shopping-cart-icon {
    position: absolute;
    top: -6.5%;
    left: 6.7%;
}